<div class="box" set-height>
    <div class="horiz-flag flag-top" ng-bind-html="sinfo.getCurrentTitle()">
    </div>
    <div class="ball" ng-show="!sinfo.isIntro()" ng-click="sinfo.resetStatus()">
        <i class="fa fa-home"></i>
    </div>
    <div class="inner-content" isolate-scrolling>
        <div ng-if="content[server[status]]['pic']">
            image
        </div>
        <div ng-bind-html="content[server[status]]['main']"></div>
        <div class="section" ng-if="content[server[status]]['aim']">
            <span class="minititle">AIM:</span>
            <span ng-bind-html="content[server[status]]['aim']"></span>
        </div>
        <div class="section" ng-if="content[server[status]]['in']">
            <span class="minititle">INPUT:</span>
            <span ng-bind-html="content[server[status]]['in']"></span>
        </div>
        <div class="section" ng-if="content[server[status]]['out']">
            <span class="minititle">OUTPUT:</span>
            <span ng-bind-html="content[server[status]]['out']"></span>
        </div>
    </div>
    <div class="horiz-flag flag-bottom">
        <div class="flag-half-left" ng-show="!sinfo.isIntro()">
            <a href="{{content[server[status]]['url']}}" target="_blank">
                <i class="fa fa-server"></i> SERVER
            </a>
        </div>
        <div class="flag-half-right" ng-show="!sinfo.isIntro()">
            <a href="{{content[server[status]]['cite']}}" target="_blank">
                <i class="fa fa-file-text"></i> CITATION
            </a>
        </div>
        <div ng-show="sinfo.isIntro()">
            <a href="{{content[server[status]]['cite']}}" target="_blank">
                <i class="fa fa-file-text"></i> CITATION
            </a>
        </div>
    </div>
</div>